body {
    font-family: Arial;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0a58ff;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background: #222;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    background: lightblue;
    text-align: center;
    padding: 40px;
}

.products {
    text-align: center;
    padding: 20px;
}

.product-card {
    background: white;
    display: inline-block;
    width: 220px;
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
}

.product-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}


button {
    background-color: #0a58ff;
    color: white;
    border: none;
    padding: 8px;
}

.categories {
    text-align: center;
    padding: 20px;
}

.category {
    display: inline-block;
    background: white;
    padding: 15px;
    margin: 10px;
}
.categories {
    text-align: center;
    padding: 20px;
}

.category-card {
    display: inline-block;
    background: white;
    margin: 15px;
    padding: 10px;
    width: 180px;
    border-radius: 8px;
}

.category-card img {
    width: 160px;
    height: 120px;
    object-fit: cover;
}

.category-card h3 {
    margin-top: 10px;
}


footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

